{% extends 'main/layout.html' %}

{% block title %}
About page
{% endblock %}

{% block content %}
    <div class="features">
        <h1>About page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nam gravida purus odio, in egestas sapien euismod et.
            Duis viverra quis mauris eget venenatis.
            Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>
        <button class="btn btn-danger">Just push</button>
    </div>
{% endblock %}
